// MarionetteJS (Backbone.Marionette)
// ----------------------------------
// v<%= version %>
//
// Copyright (c)<%= date %> Derick Bailey, Muted Solutions, LLC.
// Distributed under MIT license
//
// http://marionettejs.com

<% if (env === 'bundle') { %>
/*!
 * Includes BabySitter
 * https://github.com/marionettejs/backbone.babysitter/
 *
 * Includes Wreqr
 * https://github.com/marionettejs/backbone.wreqr/
 */

<%}%>